@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

:root {
    --ColorA100: hsl(254, 88%, 90%);
    --ColorA500: hsl(256, 67%, 59%);
    --ColorB100: hsl(31, 66%, 93%);
    --ColorB500: hsl(39, 100%, 71%);
}

* {
    padding: 0;
    margin: 0;
}

/* --SPANS-- */

.txt-dec-1 {
    color: var(--ColorA500);
    font-style: italic;
}

.txt-dec-2 {
    color: var(--ColorB500);
}

.br {
    display: block;
}

/* */

.spacing-1 {
    line-height: 1;
    word-spacing: 0;
    letter-spacing: -1px;
}

.spacing-2 {
    line-height: 1;
    word-spacing: 0;
    letter-spacing: -3px;
}

.spacing-3 {
    line-height: 0.8;
    word-spacing: -2px;
    letter-spacing: -1px;
}


body {
    height: 100dvh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: 'DM Sans';
    font-size: 18px;
    background-color: gainsboro;
}

main {
    display: grid;
    grid-auto-columns: 150px;
    grid-auto-rows: 40px;
    gap: 1rem;
    grid-template-areas: 
    'box1 box2 box2 box3'
    'box1 box2 box2 box3'
    'box1 box2 box2 box3'
    'box1 box2 box2 box3'
    'box1 box4 box5 box3'
    'box6 box4 box5 box3'
    'box6 box4 box5 box3'
    'box6 box7 box8 box8'
    'box6 box7 box8 box8'
    'box6 box7 box8 box8'
    ;

    padding: 10px;
}

main > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}


.box1 {
    background-color: var(--ColorB100);
    font-size: 1.8rem;
    font-weight: 500;
    grid-area: box1;
}

.box1 p {
    width: 116px;
} 

.box1 img {
    margin-top: 10px;
    width: 85%;
}

.box2 {
    background-color: var(--ColorA500);

    grid-area: box2;
}

.box2 h1 {
    color: white;
    text-align: center;
    font-size: 2.25rem;
    font-weight: 500;

    width: 250px;
}

.box2 img {
    margin-top: 15px;
    margin-bottom: 5px;
    width: 40%;
}

.box2 p {
    font-weight: 400;
    font-size: 0.9rem;
    color: white;
}

.box3 {
    background-color: var(--ColorA100);
    grid-area: box3;
    overflow: hidden;
    justify-content: space-evenly;
}

.box3 h1 {
    font-size: 1.35rem;
    font-weight: 600;
    text-align: center;
    word-spacing: 2px;
    letter-spacing: -2px;
    margin-bottom: -20px;

    width: 119px;
}

.box3 img {
    width: 200px;
    object-position: 3rem;
    margin-bottom: -15px;

}

.box3 p {
    font-size: 0.8rem;
    font-weight: 400;
}

.box4 {
    background-color: white;
    overflow: hidden;

    grid-area: box4;
}

.box4 h1 {
    font-size: 1.35rem;
    font-weight: 600;

    width: 130px;
}

.box4 img {
    width: 125%;
    object-position: 2rem;
}

.box5 {
    background-color: var(--ColorB500);
    overflow: hidden;
    justify-content: space-between;

    grid-area: box5;
}

.box5 h1 {
    font-size: 1.25rem;

    align-self: self-start;
    margin-left: 10px;
    margin-top: 5px;

    width: 94px;
}

.box5-img {
    height: 60px;
    width: 130px;

    background-image: url(assets/images/illustration-consistent-schedule.webp);
    background-size: 130px;
    background-position: top;
}

.box6 {
    background-color: var(--ColorB500);

    justify-content: space-around;
    grid-area: box6;
}

.box6 h1 {
    font-size: 1.7rem;
    font-weight: 500;

    width: 119px;
}

.box6 img {
    width: 85%;
}

.box7 {
    background-color: white;
    align-items: flex-start;
    grid-area: box7;
}

.box7 h1 {
    margin-left: 10px;
    font-size: 2.5rem;
    font-weight: 500;
}

.box7 p {
    font-size: 0.8rem;
    margin-left: 10px;
    font-weight: 400;

}

.box7 img {
    width: 80%;
    margin-top: 20px;
}

.box8 {
    background-color: var(--ColorA500);

    flex-direction: row;
    justify-content: space-evenly;
    grid-area: box8;
}

.box8 img {
    width: 45%;
}

.box8 h1 {
    color: white;
    font-size: 1.4rem;
    font-weight: 500;

    width: 155px;
}

@media(max-width: 660px) {
    main {
        grid-auto-columns: 0.5fr;
        grid-auto-rows: 300px;
        grid-template-areas: 
        'box1 box2'
        'box3 box4'
        'box5 box6'
        'box7 box8'
        ;
    }
}

@media (max-width: 450px) {
    main {
        height: 100dvh;
        grid-auto-rows: max-content;
        grid-auto-columns: 0.95fr;
        justify-content: center;
        align-items: center;
        grid-template-areas: 
        'box2'
        'box4'
        'box5' 
        'box3'
        'box8'
        'box7'
        'box1'
        'box6'
        ;
        overflow-y: auto;
        margin: auto;
    }

    .low-br {
        display: block;
    }

    img {
        max-width: 100%;
    }

    .box2 {
        padding: 50px;
    }

    .box2 h1 {
        width: 200px;
    }

    .box2 img {
        width: 55%;
    }

    .box4 {
        align-items: end;
    }

    .box4 h1 {
        font-size: 1.5rem;
        margin-top: 10px;
        margin-bottom: 5px;
        width: auto;
        align-self: center;
    }

    .box4 img {
        width: 90%;
        object-position: 0%;
    }

    .box5 {
        align-items: start;
    }

    .box5 h1 {
        font-size: 1.5rem;
        width: 240px;
        margin-left: 20px;
        margin-bottom: 15px;
    }

    .box5-img {
        width: 180px;
        height: 120px;
        background-size: 180px;
        margin-left: 20px;
    }

    .box3 {
        padding: 20px;
    }

    .box3 h1 {
        font-size: 1.5rem;
        width: auto;
    }

    .box3 img {
        margin-top: 30px;
        margin-bottom: 20px;
        object-position: 0%;
        width: 90%;
    }

    .box3 p {
        font-size: 1.25rem;
        text-align: center;
    }

    .box8 {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .box8 img {
        width: 65%;
        margin-bottom: 20px;
    }

    .box7 {
        padding: 10px;
    }

    .box7 h1 {
        font-size: 2.5em;
    }

    .box7 p {
        font-size: 1.2rem;
    }

    .box7 img {
        width: 60%;
    }

    .box1 {
        align-items: start;
        padding: 10px;
    }

    .box1 p {
        width: auto;
    }

    .box1 img {
        width: 50%;
    }

    .box1 > img, p {
        margin-left: 10px;
    }

    .box6 {
        padding: 20px;
        align-items: start;
    }

    .box6 h1 {
        width: auto;
    }

    .box6 img {
        margin-top: 10px;
        width: 80%;
}}